div .info-hover{
    display: none;
    position: absolute;
    background-color: rgba(36, 36, 36, .7);
    border: 2px solid #ac1919;
    color: floralwhite;
    padding-left: 15px;
    padding-bottom: 300px;
    text-align: center;
   
    
}
div:hover p{
    
    display: block;
    cursor: pointer;
    
}